*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: #181818;
}
.logo{
    text-align: center;
    justify-content:center;
    align-items:center;
}

.logo .deezer{
    width: 1000px;
    margin-top: 150PX;
 
  
}
.title{
    text-align: center;
    font-size: 30px;
margin-top: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

.telas{
    text-align: center;
    margin-top: 130px;
}
.telas .tela2{
    width: 300px; 
    margin-left: 150px;
}
.telas .tela1{
    width: 300px; 
}

.telas .t1{
    font-family: 'Open Sans', sans-serif;
    margin-left: -400px;
    color: rgb(255, 255, 255);
}
.telas .t2{
    font-family: 'Open Sans', sans-serif;
    margin-left: 450px;
    margin-top: -30px;
    color: rgb(255, 255, 255);
}